{% extends "base.html" %}

{% block content %}
    <h1>Cambiar Rol de Usuario</h1>
    <form method="POST">
        <p>Usuario: {{ user.username }}</p>
        <p>Rol actual: {{ user.role.value }}</p>
        <label for="role">Nuevo rol:</label>
        <select name="role" id="role">
            {% for role in roles %}
                <option value="{{ role.name }}" {% if role == user.role %}selected{% endif %}>
                    {{ role.value }}
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="Cambiar Rol">
    </form>
{% endblock %}
