{% extends "base.html" %}

{% block content %}
    <h1>Cambiar Rol de Usuario</h1>
    <form method="POST">
        <div class="form-group">
            <label for="role">Nuevo Rol:</label>
            <select name="role" id="role" class="form-control">
                {% for role in roles %}
                    <option value="{{ role.name }}" {% if user.role == role %}selected{% endif %}>
                        {{ role.value }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </form>
    <a href="{{ url_for('auth.list_users') }}" class="btn btn-secondary mt-3">Volver a la Lista de Usuarios</a>
{% endblock %}
